!!! Strict
%html
  %head
    %title= [@title, "Simple Padrino CMS"].compact.join(" | ")
    = stylesheet_link_tag 'reset', 'application'
    = javascript_include_tag 'jquery', 'application'
    = yield_content :include
  %body
    #header
      %h1 Padrino CMS
      %ul.menu
        %li= link_to 'Content', url_for(:contents, :index)
    #container
      #main= yield
    #footer
      Copyright (c) 2009-2010 Padrino
